
@{
    Layout = null;
}

<!DOCTYPE HTML>
<HTML>
<HEAD>
    <META content="IE=11.0000" http-equiv="X-UA-Compatible">
    <META charset="utf-8">
    <TITLE>企业数据查询中心 - 系统不再支持老旧的IE</TITLE>
    <META name="renderer" content="webkit">

    <META name="keywords" content="">
    <STYLE>
        html, body {
            height: 100%;
            overflow: hidden;
        }

        body {
            background: #3cbbdc url(../../Content/browser.png) no-repeat center center;
        }
    </STYLE>

    <META name="GENERATOR" content="MSHTML 11.00.9600.18163">
</HEAD>
<BODY>
</BODY>
</HTML>